div{
  height: 40px;
  background-color: #eee;
  font-size: 21px;
  text-transform: capitalize;
  width: 400px;
  padding: 10px;
  margin: 10px;
}
.element-1::before{
  content: "";
  display: block;
  width: 2.5px;
  height: 37px;
  background: #c71585;
  left: 22px;
  position: absolute;
  top: 16px;

}
.element-2{
  visibility: hidden;
}
.element-3::before{
  content: "";
  display: block;
  width: 2.5px;
  height: 42px;
  background: mediumaquamarine;
  left: 22px;
  position: absolute;
  top: 24.5%;
}
