.first{
  background-color: #ddd;
  width: 400px;
  font-size: 23px;
  
}
.second{
  width: 400px;
    font-size: 25px;
    background-color: #ddd;
    white-space: nowrap;
    overflow: hidden;
}
.third{
  width: 400px;
  font-size: 25px;
  background-color: #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}